<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="process.js"></script>
    <link rel="stylesheet" type="text/css" href="layout.css" />
  </head>
  <body>
    <div class="container">
      <div class="menu-bar center">
       <input  type="text" placeholder="search conversation">
      </div>
       <div class="chat-room">
         <div class="room">
            PHP<span style="font-size: 10px;">  xinchao cac ban nha   xinchao cac ban nha</span>
          </div>
          <div class="room">
            PHP<span style="font-size: 10px;">  xinchao cac ban nha   xinchao cac ban nha</span>
          </div>


      </div>
       <div class="add-box center">
       <input type="text" id="action-add" placeholder="add conversation">
        
      </div>
      <div class="cross-bar center">
       <div class="room-name">Get in any room</div>
      </div>
      <div class="show-message">
        messages
      </div>
      <div class="chat-box center">
        <div class="text-area">
          <i class="fas fa-paper-plane fa-1.5x" style="margin-right: 10px;"></i><input type="text" id="action-chat" placeholder="Text to your friends.....">
        </div>
      </div>
    </div>
  </body>
</html>
